<!DOCTYPE html>
<html lang="bg">
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'fmi_icon.png' %}" sizes="32x32">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FMI{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Mulish', sans-serif !important;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'base:home' %}">
                    FMI
                    <img src="{% static 'fmi_icon.png' %}" alt="Моето Лого" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'base:home' %}">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/tasks/' %}active{% endif %}" href="{% url 'tasks:tasks' %}">Задачи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/calendar/' %}active{% endif %}" href="{% url 'calendars:calendar_dashboard' %}">Календар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/budget' %}active{% endif %}" href="{% url 'budget:dashboard' %}">Личен бюджет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/notes' %}active{% endif %}" href="{% url 'notes:notes_dashboard' %}">Бележки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/notifications' %}active{% endif %}" href="{% url 'notifications_app:latest_notifications' %}">Съобщения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == request.user.get_absolute_url %}active{% endif %}" href="{% url 'base:profile' request.user.username %}">Профил</a>
                        </li>
                        <li class="nav-item">
                            <form method="POST" action="{% url 'base:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark">Изход</button>
                            </form>  
                        </li>                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>