{% extends "header.html" %}
{% block content %}
{% load static %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="card custom-card shadow-lg">
    <div class="card-body text-center p-5">
      <h1 class="card-title mb-4">Добре дошли, {{ user.profile.display_name }}!</h1>
      <img src="{% static 'fmi_icon.png' %}" alt="Logo" class="rounded-circle mb-3" style="width: 200px; height: 200px; object-fit: cover;">
      <blockquote class="blockquote text-center">
        <p class="mb-4 fw-bold">{{quote}}</p>
        <footer class="blockquote-footer"><cite title="Source Title">{{author}}</cite></footer>
      </blockquote>
      <div class="alert alert-info" role="alert">
        <strong>Задачи с краен срок днес:</strong> {{ unfinished_tasks_count }}
      </div>
      <div class="alert alert-warning" role="alert">
        <strong>Събития за днес:</strong> {{ today_events_count }}
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {% for notification in notifications_list %}
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <strong class="me-auto">Съобщение</strong>
      <small class="text-muted">{{ notification.timestamp|date:"H:i" }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ notification.verb }}
    </div>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    toastElList.forEach(function(toastEl) {
      var toast = new bootstrap.Toast(toastEl);
      toast.show();
    });
  });
</script>
{% endblock %}