{% extends "base.html" %}
{% block title %}FMI{% endblock %}
{% block content %}
{% load static %}
  <h1 class="card-title mb-4">Добре дошли!</h1>
  <img src="{% static 'fmi_icon.png' %}" alt="Logo" class="rounded-circle mb-3 d-block mx-auto" style="width: 200px; height: 200px; object-fit: cover;">
  <h3 class="mb-4 fw-bold">FMI - Focus, Manage, Improve</h3>
  <p class="mb-4">Приложение за задачи, календари, бележки и цялостна организация</p>
  <a href="{% url 'base:login' %}" class="btn btn-primary mb-3">Вход</a>
  <a href="{% url 'base:sign_up' %}" class="btn btn-outline-dark">Регистрация</a>
{% endblock %}
