{% extends "header.html" %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 text-center" style="max-width: 500px; width: 100%; border-radius: 15px;">
        <h2 class="mb-4">Профил</h2>
        {% if profile.profile_picture %}
            <div class="d-flex justify-content-center">
                <img src="{{ profile.profile_picture.url }}" alt="Профилна снимка" class="img-thumbnail mb-3 rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
            </div>
        {% else %}
            <div class="mb-3 text-muted">Няма качена профилна снимка.</div>
        {% endif %}
        {% if profile.display_name %}
            <h3 class="fw-bold">{{ profile.display_name }}</h3>
        {% endif %}
        <h4 class="text-muted">@{{ profile.user.username }}</h4>
        
        {% if is_owner %}
        <div class="mt-4">
            <a href="{% url 'base:update_profile' %}" class="btn btn-primary w-100">Редактирай профила</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
