{% extends "header.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Обнови профила</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3>Профилни данни</h3>
        {{ profile_form.as_p }}
        
        <h3>Смяна на парола</h3>
        {{ password_form.as_p }}
        
        <button type="submit" class="btn btn-primary">Запази промените</button>
        <a href="{% url 'base:profile' request.user.username %}" class="btn btn-secondary">Отказ</a>
    </form>
</div>
{% endblock %}

